/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

a {
  color: #2252e2;
}

body {
  background: #f4f4f4;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

* {
  line-height: 150%;
}

.l_header {
  background: #4169e1;
}

.l_header_inner {
  overflow: hidden;
  max-width: 1000px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

.l_headerNav {
  margin-top: 37.5px;
  float: right;
}

.l_cont {
  margin-top: 30px;
  margin-bottom: 30px;
}

.l_cont_inner {
  overflow: hidden;
  max-width: 1000px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}

.l_pageTtl {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.l_main {
  width: 73%;
  float: left;
}

.l_sidebar {
  background: #faff;
  width: 25%;
  float: right;
  border-radius: 20px;
}

.l_sidebar_inner {
  padding: 20px;
}

.l_footer {
  background: #444444;
  color: #dddddd;
}

.l_footer_inner {
  padding: 40px 20px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.b_siteTtl {
  font-size: 4em;
  float: left;
}

.b_siteTtl a {
  color: #fff;
}

.b_headerNav li {
  font-size: 1.5em;
  float: left;
  margin-left: 40px;
}

.b_headerNav li a {
  color: #fff;
}

.b_pageTtl {
  padding: 30px 10px;
  background: #e25c00;
  color: #ffffff;
  text-align: center;
  font-size: 1.75em;
}

.b_pageTtl span {
  position: relative;
  display: inline-block;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.b_pageTtl span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 80px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.b_media {
  overflow: hidden;
  padding: 20px;
  border: 2px solid #888;
  margin-bottom: 40px;
}

.b_mediaText {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1em;
}

.b_media .e_routineList {
  padding: 0.5em;
  background: #e7e8e9;
  margin-top: 10px;
  border-radius: 0.5em;
}

.b_form {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 20px;
}

.b_form span {
  display: inline-block;
}

.b_formUnit {
  text-align: center;
  margin: 0 auto;
  border: 2px solid #e25c00;
}

.b_formUnit > p {
  font-size: 1.125em;
  line-height: 200%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.b_formText {
  text-align: left;
  border: 1px solid #222;
  width: 14em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.b_formTextarea {
  text-align: left;
  border: 1px solid #222;
  padding: 0.5em;
}

.b_sidebarNav {
  font-size: 1em;
  margin-top: 40px;
}

.b_sidebarNav li {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  border: 2px solid #444;
  border-radius: 20px;
}

.b_copyright {
  text-align: center;
}

.e_headingLv3 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #e25c00;
  font-size: 2em;
}

.e_headingLv4 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.e_btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #e25c00;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.e_btn:hover, .e_btn:focus {
  background-color: #fff;
  border-color: currentColor;
  color: #e25c00;
}

.e_btn:disabled {
  opacity: 0.5;
}

.e_btn.e_btn__arrowRight {
  position: relative;
  padding-right: 2em;
  padding-left: 1.38em;
}

.e_btn.e_btn__arrowRight::after {
  content: "\f061";
  position: absolute;
  top: 50%;
  right: 0.83em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.e_btn_wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.e_label {
  display: inline-block;
  padding: 0.2em 0.3em;
  background: #e25c00;
  color: #fff;
  font-size: 0.75em;
  font-weight: bold;
}

.e_routineListText {
  margin-left: 1em;
  display: inline-block;
}

.e_routineList::marker {
  display: none;
}

.e_pageNation {
  width: 80%;
  margin: 60px auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.e_pageNation .e_pageNation__active {
  color: #fff;
  background: #222222;
}

.e_pageNation li {
  text-align: center;
  width: 50px;
  line-height: 50px;
  background: #ddd;
}

.e_pageNation li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.hp_1col .l_main {
  float: none;
  width: auto;
}

.hp_1col .hp_1col__noDisplay {
  display: none;
}

.hp_center {
  text-align: center;
}

.hp_right {
  float: right;
}

.u_tp.l_cont {
  margin: 0;
  color: #dddddd;
  background: #222;
}

.u_tp .l_cont_inner {
  background-position: -350px;
  background-image: url("../../img/bg_top.png");
}

.u_tpLink {
  margin-top: 40px;
}

.u_tpLink span {
  font-size: 3em;
}

.u_pageTtl span {
  font-size: 3em;
}

.is_err {
  color: #f44;
}

.is_suc {
  color: #17f;
}

.js_topMsg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: rgba(122, 206, 230, 0.6);
  text-align: center;
  font-size: 1.5em;
  line-height: 60px;
}

.js_check {
  cursor: pointer;
}

.js_check__checked i {
  color: #2252e2;
}
/*# sourceMappingURL=style.css.map */